<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="user.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF"
                [(ngModel)]="user.cpf" name="cpf">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail"
                [(ngModel)]="user.email" name="email">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateUser()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>